.burger {
  width: 45px;
  box-sizing: border-box;
  padding: 13px;
  background-color: #000;
  overflow: hidden;

  &--opened {
    & .burger__line {
      &:nth-child(1) {
        transform: translate(1px, 4px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(50px, 0px)
      }

      &:nth-child(3) {
        transform: translate(1px, -4px) rotate(-45deg);
      }
    }
  }

  &__line {
    height: 2px;
    background-color: #fff;
    transition: 0.3s transform;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}


.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 140px;

  &__link {
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: $darkGreyTitle;

    &:hover {
      color: $hoverGreenColor;
    }
  }
}

.hero__img-wrapper {
  margin-top: 23px;

  .hero__img {
    width: 100%;
  }
}


