@media (max-width: 767px) {

  body {
    overflow-x: hidden;
  }

  .hero {
    display: flex;
    justify-content: flex-end;
    padding-top: 28px;
  }
  //.hero-nav {
  //  display: none;
  //}
  .hero-nav {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    top: 66px;
    right: -200px;
    transition: 0.5s right;

    &__items {
      color: $darkGreyTitle;
      text-transform: uppercase;
      background-color: #F5F5F5;
      padding: 2px 60px 2px 10px;
      @include fontSmallest;

      &:hover {
        color: $hoverGreenColor;
        background-color: #E5E5E5;
      }
    }
  }

   .burger--opened + .hero-nav {
    right: 25px;

  }

  .article {
    &__text {
      display: none;
    }
  }

  .gallery {

    &__item:not(:nth-child(3)) {
      margin-bottom: 28px;
    }

    &__item:last-child {
      display: none;
    }
  }

  .footer {
    &__text {
      display: none;
    }
  }
}