@mixin fontSmallest {
  font-size: 11px;
  line-height: 22px;
}

@mixin mobileTitle {
  color: $darkGreyTitle;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin footerText {
  color: $footerLightestGrey;
  font-size: 16px;
  line-height: 26px;
}

@mixin flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}