@import "reset";
@import "mixins";
@import "fonts";
@import "variables";

.container {
  max-width: 1120px;
  padding: 0 25px;
  margin: 0 auto;
}

@import "sections/all-sections";
@import "media/all-media";


